/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 2.6rem;
  font-family: 'Lato', sans-serif;
}
h1, h2, h3, h4 {
  font-family: 'Marcellus', serif;
}
.user-story {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}
.bg-dark {
  /* background: rgb(17,1,48);*/
  background: linear-gradient(90deg, rgba(9,74,121,1) 0%, rgba(9,74,121,1) 50%, rgba(0,255,135,1) 100%);
  /*background-color: rgba(9,74,121,1) !important;*/
}
.navbar {
  padding: .1rem 1rem;
}
.dropdown-menu {
  background: linear-gradient(180deg, rgba(9,74,121,1) 0%, rgba(59,124,171,1) 100%);
  margin: 0rem;
  border:0px;
  border-radius: 0px 0px 10px 10px;
}
.dropdown-item {
  color: #fff;
}
.dropdown-item:hover {
  color: rgba(17,1,48,1);
  /*background-color: rgba(191,255,0,1);*/
  background-color: #00ff87;
}
.menu-project-title {
  font-size: 1.3rem;
  padding: .19rem;
}
.bear-raptor {
  font-family: 'Cedarville Cursive', cursive;
}
.bear-footer {
  color: #9595ff;
}
.btn-outline-warning {
  color: #ff8800;
  border-color: #ff8800;
}
.btn-outline-warning:hover {
  color: #fff;
  background-color: #ff8800;
  border-color: #ff8800;
}
.btn-outline-danger {
  color: #ff0800;
  border-color: #ff0800;
}
.btn-outline-danger:hover {
  color: #fff;
  background-color: #ff0800;
  border-color: #ff0800;
}
.btn-outline-success {
  color: #00ff87;
  border-color: #00ff87;
}
.btn-outline-success:hover {
  color: #fff;
  background-color: #00ff87;
  border-color: #00ff87;
}
.jumbotron {
  border-radius: 0rem;
}
.feature-description {
  margin-bottom: .25rem;
  font-size: .8rem;
}
.feature-title{
  padding: .25rem 1.25rem;
}
