<!doctype html>
<html lang="en">

  {% include "head.html" %}

  <body class="min-vh-100">

    {% include "menu.html" %}

    <main role="main">
      <section class="p-4">
        <!-- Feature Header -->
        <div class="container" style="min-height:300px;">
          <!-- Example row of columns -->
          <div class="row">
            <div class="col-md-12">
              <h2>Confirm Deletion of the following?</h2>
              <p>
                {% if type == 'Project' %}
                  <b>Project:</b> {{project.title}} - ({{project.shortname}})<br>
                  <b>Description:</b> {{project.description}}<br>
                {% endif %}

                {% if type == 'Role' %}
                  <b>Role:</b> {{role.title}}<br>
                  <b>Description:</b> {{role.description}}<br>
                  <b>From project:</b> {{project.title}} - ({{project.shortname}})<br>
                {% endif %}

                {% if type == 'Feature' %}
                  <b>Feature:</b> {{feature.title}}<br>
                  <b>Description:</b> {{feature.description}}<br>
                  <b>From project:</b> {{project.title}} - ({{project.shortname}})<br>
                {% endif %}

                {% if type == 'Story' %}
                  <b>Story:</b> As a {{story.role.title}}, I want {{story.want}}, so that {{story.why}}.<br>
                  <b>From feature:</b> {{feature.title}}<br>
                  <b>From project:</b> {{project.title}} - ({{project.shortname}})<br>
                {% endif %}
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              {% if type != 'Role' %}
                <p>
                  {% if fq is defined %}
                    {% if fq > 0 %}
                      <b>{{fq}}</b> features will also be deleted<br>
                    {% endif %}
                  {% endif %}
              {% endif %}

                {% if sq is defined %}
                  {% if sq > 0 %}
                    <b>{{sq}}</b> stories will also be deleted<br>
                  {% endif %}
                {% endif %}

                {% if acq is defined %}
                  {% if acq > 0 %}
                    <b>{{acq}}</b> acceptance criteria will also be deleted<br>
                  {% endif %}
                {% endif %}
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="p-4">
        <!-- Feature Header -->
        <div class="container">
          <div class="row">
            <div class="col-md-12 order-md-1">
              <form class="needs-validation" action="{{url_for('deleteAction', project_id=project.id, type=type, type_id=type_id)}}" method='post' novalidate>
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <form>
                      <button class="btn btn-danger btn-lg btn-block" type="Edit">Continue</button>
                    </form>
                  </div>
              </form>
                  <div class="col-md-6 mb-3">
                    <form action="{{url_for('mainPage')}}">
                      <button class="btn btn-secondary btn-lg btn-block" type="submit">Cancel</button>
                    </form>
                  </div>
                </div>
            </div>
          </div>
      </section>

    </main>

    {% include "footer.html" %}

  </body>
</html>
