<!doctype html>
<html lang="en">

  {% include "head.html" %}

  <body class="min-vh-100">

    {% include "menu.html" %}
    {% include "modals/createfeature.html" %}

    <main role="main">
      <section class="p-4">
        <!-- Feature Header -->
        <div class="container" style="min-height:300px;">
          <!-- Example row of columns -->
          <div class="row">
            <div class="col-md-12">
              <h2>Confirm Deleting Project?</h2>
              <p>
                <b>Title:</b> {{project.title}} - ({{project.shortname}})<br>
                <b>Description:</b> {{project.description}}
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <b>This Project Contains:</b>
              <p>
                {% if fq > 0 %}
                  <b>{{fq}}</b> features<br>
                {% endif %}

                {% if sq > 0 %}
                  <b>{{sq}}</b> stories<br>
                {% endif %}

                {% if acq > 0 %}
                  <b>{{acq}}</b> acceptance criteria<br>
                {% endif %}
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="p-4">
        <!-- Feature Header -->
        <div class="container">
          <div class="row">
            <div class="col-md-12 order-md-1">
              <form class="needs-validation" action='#' method='post' novalidate>
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <button class="btn btn-danger btn-lg btn-block" type="Edit">Continue</button>
                  </div>
              </form>
                  <div class="col-md-6 mb-3">
                    <form action="{{url_for('mainPage')}}">
                      <button class="btn btn-secondary btn-lg btn-block" type="submit">Cancel</button>
                    </form>
                  </div>
                </div>
            </div>
          </div>
      </section>

    </main>

    {% include "footer.html" %}

  </body>
</html>
