<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Joshua Peek">
    <title>Org Name - Project Name</title>

    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="../static/styles-fix.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Marcellus&family=Cedarville+Cursive&display=swap" rel="stylesheet">
    <!--
    <style>
      body {
        padding-top: 3.5rem;
      }
    </style>
    -->

  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand bear-raptor" href="project-index-template.html"><b>bear raptor</b></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown px-2">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Add-on Modules</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="feature-doc-template.html">Feature Doc Template</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item dropdown px-2">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Customizations</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="feature-doc-template.html">Feature Doc Template</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
        <!-- Search Function in the Nav Bar -->
        <!--
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        -->
      </div>
    </nav>

<main role="main">
  <section class="bg-light p-4">
    <!-- Feature Header -->
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12">
          <h2>Feature Title</h2>
          <p>
            This text will describe the general goal of the feature, as well as notable things it will <i>not</i> cover.
            It may also reference other related features, which will be defined with their own separate pages and stories.
          </p>
          <p>
            <button type="button" class="btn btn-outline-success btn-sm">MSA-Compliant</button>
            <button type="button" class="btn btn-outline-warning btn-sm">Contains Out-of-Scope Stories</button>
            <button type="button" class="btn btn-outline-danger btn-sm">Out-of-Scope Feature</button>
          </p>

        </div>
      </div>
    </div>
  </section>

  <!-- User Stories -->
  <section class="p-4">

    <div class="container">
      <!-- Optional Section Header -->
      <div class="row">
        <div class="col-md-12">
          <h3>User Stories</h3>
        </div>
      </div>

      <div class="row user-story">
        <div class="col-md-12">
          <div class="card">
            <h5 class="card-header">User Story: ###-###-##
              <button type="button" class="btn btn-outline-success btn-sm float-right">MSA</button>
            </h5>
            <div class="card-body">
              <h5 class="card-title">As a ____, I want ____, so that ____.</h5>
              <p class="card-text">
                <u>Acceptance Criteria</u>
                <ol>
                  <li>Criteria 1</li>
                  <li>Criteria 2</li>
                </ol>
              </p>
              <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
            </div>
          </div>
        </div>
      </div>

      <div class="row user-story">
        <div class="col-md-12">
          <div class="card">
            <h5 class="card-header">User Story: ###-###-##
              <button type="button" class="btn btn-outline-danger btn-sm float-right">Scope Creep</button>
            </h5>
            <div class="card-body">
              <h5 class="card-title">As a ____, I want ____, so that ____.</h5>
              <p class="card-text">
                <u>Acceptance Criteria</u>
                <ol>
                  <li>Criteria 1</li>
                  <li>Criteria 2</li>
                </ol>
              </p>
              <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
            </div>
          </div>
        </div>
      </div>

    </div> <!-- /container -->
  </section>

    <hr>

</main>

<footer class="container">
  <p class="bear-raptor bear-footer float-right">&copy; Bear Raptor 2020</p>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="../assets/dist/js/bootstrap.bundle.js"></script></body>
</html>
