<!doctype html>
<html lang="en">
  {% include "head.html" %}
  <body>

    {% include "menu.html" %}

    <main role="main">
      <section class="bg-light p-4">
        <!-- Feature Header -->
        <div class="container">
          <!-- Example row of columns -->
          <div class="row">
            <div class="col-md-12">
              <h2>{{feature.title}}</h2>
              <p>
                {{feature.description}}
              </p>
              <p>
                {% if scope == 'in' %}
                  <button type="button" class="btn btn-outline-success btn-sm">Fully In-Scope</button>
                {% endif %}

                {% if scope == 'contains' %}
                  <button type="button" class="btn btn-outline-warning btn-sm">Contains Out-of-Scope Stories</button>
                {% endif %}

                {% if scope == 'out' %}
                  <button type="button" class="btn btn-outline-danger btn-sm">Feature is Out-of-Scope</button>
                {% endif %}
              </p>

            </div>
          </div>
        </div>
      </section>

      <!-- User Stories -->
      <section class="p-4">

        <div class="container">
          <!-- Optional Section Header -->
          <div class="row">
            <div class="col-md-12">
              <h3>Stories</h3>
            </div>
          </div>

          {% for i in stories %}
            <div class="row user-story">
              <div class="col-md-12">
                <div class="card">
                  <h5 class="card-header feature-title">{{project.shortname}}-{{feature.shortname}}-{{i.id}}
                    {% if scope != 'out' %}
                      {% if i.scope == 'in' %}
                        <button type="button" class="btn btn-outline-success btn-sm float-right">In-Scope</button>
                      {% endif %}

                      {% if i.scope == 'out' %}
                        <button type="button" class="btn btn-outline-danger btn-sm float-right">Out-of-Scope</button>
                      {% endif %}
                    {% endif %}
                  </h5>
                  <div class="card-body">
                    <p class="card-text">
                      <b>As a(n) {{i.role.title}}, I want {{i.want}}, so that {{i.why}}.</b>

                      <u>Acceptance Criteria</u>
                      <ol>
                        {% for x in ac %}
                          {% if x.story_id == i.id %}
                            <li>{{x.criteria}}</li>
                          {% endif %}
                        {% endfor %}
                      </ol>
                    </p>
                    <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}

        </div> <!-- /container -->
      </section>

        <hr>

    </main>

    {% include "footer.html" %}

  </body>
</html>
