<!doctype html>
<html lang="en">

  {% include "head.html" %}

  <body>

    {% include "menu.html" %}
    {% include "modals/createproject.html" %}

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Hello, world!</h1>
          <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          {% for i in projects %}
            <div class="col-md-4 project-card">
              <h2>{{i.title}}</h2>
              <p>{{i.description}}</p>
              <p>
                <a class="btn btn-secondary btn-sm" href="{{url_for('projectDash', project_id=i.id)}}" role="button">View details &raquo;</a>
                <a class="btn btn-outline-danger btn-sm" href="{{url_for('confirmDelete', project_id=i.id, type='Project', type_id=i.id)}}" role="button">Delete</a>
              </p>
            </div>
          {% endfor %}

          <div class="col-md-4 project-card">
            <center>
              <a type="button" data-toggle="modal" data-target="#create-project" href="#create-project">
                <img src="../../static/images/plus.png" width="15%" style="padding-top:5%">
              </a>
              <p class="card-text">
                Add a Project
              </p>
            </center>

          </div>

        </div>

        <hr>

      </div> <!-- /container -->

    </main>

    {% include "footer.html" %}

  </body>
</html>
