<!doctype html>
<html lang="en">

  {% include "head.html" %}

  <body>

    {% include "menu.html" %}

    <main role="main">
      <section class="bg-light p-4">
        <!-- Feature Header -->
        <div class="container">
          <!-- Example row of columns -->
          <div class="row">
            <div class="col-md-12">
              <h2>{{project.title}} - ({{project.shortname}})</h2>
              <p>
                {{project.description}}
              </p>
              <p>
                {% if scope == 'in' %}
                  <button type="button" class="btn btn-outline-success btn-sm">Fully In-Scope</button>
                {% endif %}

                {% if scope == 'contains' %}
                  <button type="button" class="btn btn-outline-warning btn-sm">Contains Out-of-Scope Stories</button>
                {% endif %}

                {% if scope == 'out' %}
                  <button type="button" class="btn btn-outline-danger btn-sm">Out-of-Scope Features</button>
                {% endif %}
              </p>

            </div>
          </div>
        </div>
      </section>

      <!-- User Stories -->
      <section class="p-4">

        <div class="container">
          <!-- Optional Section Header -->
          <div class="row">
            <div class="col-md-12">
              <h3>Features</h3>
            </div>
          </div>

          {% for i in features %}

          <div class="row user-story">
            <div class="col-md-12">
              <div class="card">
                <h5 class="card-header">{{i.title}}
                  {% if i.scope == 'in'%}
                    <button type="button" class="btn btn-outline-success btn-sm float-right">Fully In-Scope</button>
                  {% endif %}

                  {% if i.scope == 'contains' %}
                  <button type="button" class="btn btn-outline-warning btn-sm float-right">Contains Out-of-Scope Stories</button>
                  {% endif %}

                  {% if i.scope == 'out' %}
                  <button type="button" class="btn btn-outline-danger btn-sm float-right">Feature is Out-of-Scope</button>
                  {% endif %}

                </h5>
                <div class="card-body">
                  <p class="card-text">
                    {{i.description}}
                  </p>
                  <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                </div>
              </div>
            </div>
          </div>

          {% endfor %}

        </div> <!-- /container -->
      </section>

        <hr>

    </main>

    {% include "footer.html" %}

  </body>
</html>
