<!doctype html>
<html lang="en">

  {% include "head.html" %}

  <body>

    {% include "menu.html" %}
    {% include "modals/createfeature.html" %}
    {% include "modals/createrole.html" %}

    <main role="main">
      <section class="p-4">
        <!-- Feature Header -->
        <div class="container">
          <!-- Example row of columns -->
          <div class="row">
            <div class="col-md-6">
              <br>
                  <h2>{{project.title}} - ({{project.shortname}})</h2>
                  <p>
                    {{project.description}}
                  </p>
                  <p>
                    {% if scope == 'in' %}
                      <button type="button" class="btn btn-outline-success btn-sm">In-Scope</button>
                    {% endif %}

                    {% if scope == 'out' %}
                      <button type="button" class="btn btn-outline-danger btn-sm">Out-of-Scope Features</button>
                    {% endif %}

                    {% if scope == 'contains' %}
                      <button type="button" class="btn btn-outline-warning btn-sm">Contains Out-of-Scope Stories</button>
                    {% endif %}

                  </p>
            </div>

            <div class="col-md-6">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-body">
                    <center>
                      <h3>Roles</h3>
                      <!--<img width="30%" src="../../../../static/images/profile.png">-->
                    </center>
                      <ul class="list-group list-group-flush">
                        {% for i in roles %}
                        <li class="list-group-item" data-toggle="tooltip" title="{{i.description}}">{{i.title}}
                          <a href="{{url_for('confirmDelete', project_id=project.id, type='Role', type_id=i.id)}}">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x float-right" fill="#ff0800" xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                              <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                            </svg>
                          </a>
                        </li>
                        {% endfor %}
                        <li class="list-group-item">
                          <a type="button" data-toggle="modal" data-target="#create-role" href="#create-role">Add a Role</a>
                        </li>

                      </ul>
                    <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                  </div>
                </div>
              </div>

            </div>

          </div> <!-- /container -->
        </div>
      </section>

      <section class="p-1">
        <div class="container">
          <!-- Optional Section Header -->

          <div class="row">
            <h3>Features</h3>
            <table class="table table-hover">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Title</th>
                  <th scope="col">Description</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                {% for i in features %}
                  <tr>
                    <th scope="row">
                      <a href="{{url_for('featurePage', project_id=project.id, feature_id=i.id)}}">
                        {{i.title}}
                        {% if i.scope == 'out' %}
                          <span title="">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-exclamation-diamond" fill="#ff0800" xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 0 1 0-2.098L6.95.435zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134z"/>
                              <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                            </svg>
                          </span>
                        {% endif %}

                        {% if i.scope != 'out' %}
                          {% for s in stories %}
                            {% if s.feature.id == i.id %}
                              {% if s.scope == 'out' %}
                                <span title="Contains out of scope stories">
                                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-exclamation-triangle" fill="#ff8800" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M7.938 2.016a.146.146 0 0 0-.054.057L1.027 13.74a.176.176 0 0 0-.002.183c.016.03.037.05.054.06.015.01.034.017.066.017h13.713a.12.12 0 0 0 .066-.017.163.163 0 0 0 .055-.06.176.176 0 0 0-.003-.183L8.12 2.073a.146.146 0 0 0-.054-.057A.13.13 0 0 0 8.002 2a.13.13 0 0 0-.064.016zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
                                    <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/>
                                  </svg>
                                </span>
                              {% endif %}
                            {% endif %}
                          {% endfor %}
                        {% endif %}

                      </a>
                    </th>
                    <td>{{i.description}}</td>
                    <td>
                      <a href="{{url_for('confirmDelete', project_id=project.id, type='Feature', type_id=i.id)}}">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x float-right" fill="#ff0800" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                          <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                        </svg>
                      </a>
                    </td>
                  </tr>
                {% endfor %}
                <tr>
                  <td colspan="4">
                    <a type="button" data-toggle="modal" data-target="#create-feature" href="#create-feature">
                      <p class="float-right">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
                          <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
                          <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        </svg>
                        Add a Feature
                      </p>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div> <!-- /container -->


      </section>

        <hr style="margin-top:3rem">

    </main>

    {% include "footer.html" %}

  </body>
</html>
